*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

html,body{
    font-size: 16px;
}

.menu{
    background: black;
}

.menu-container{
    padding: .8rem 1.2rem;
    display: flex;
    justify-content: space-between;
}

.menu-item{
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
    padding: .8rem;
   /* text-transform: uppercase;*/
}

.link:hover{
    background: darkblue;

}

.banner{
    background-image: url("../img/banner.jpg");
    height: 200px;
    background-position: center;
    background-size: contain;
}

.section-title{
   /* text-transform: uppercase;*/
    text-align: center;
    padding: 1.2rem 0;
    color: blue;
    font-size: 2.1rem;
    text-shadow: 2px 2px darkblue;
    letter-spacing: 3px;
    word-spacing: 5px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.container-imgs{
    display: flex;
    justify-content: space-evenly;
}

.foto-proyecto{
    width: 28%;
}

.container-button{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.button{
    background-color: red;
    color: white;
    padding: .8rem 1.3rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.container-about{
    display: flex;
    color: white;
}

.container-about .about-text{
    width: 50%;
    padding: 1rem;
}

.container-about .about-container-img{
    width: 50%;
    padding: 1rem;
}

.about-container-img{
    display: flex;
    justify-content: center;
    align-content: center;
}
/*
.container-about *{
    width: 50%;
    color: white;
}

.about-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
*/

.about-img{
    height: 80%;
}

.form{
    padding: 1.2rem;
}

.label-container{
    margin-bottom: .5rem;
    display: flex;
}

.form label{
    font-size: 1.2rem;
    color: steelblue;
    width: 30%;
}

.form input{
    border-radius: 4px;
    border-color: steelblue;
    font-size: 1.2rem;
    padding: .5rem 0;
    flex-grow: 1;
    border-style: solid;
}
body{
    font-family: 'Roboto', sans-serif;
    background: black;
}

.footer{
    height: 200px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
}

.footer p{
    padding: 1rem;
}
